.qualification-content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(180, 180, 180);
  width: 100%;
  height: fit-content;
  position: absolute;
}
.qualification-content-mobile{
    display: none;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.qualification-content .heading {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}

.container1 {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container1:nth-child(1) {
  animation-delay: 0s;
}
.container1:nth-child(2) {
  animation-delay: 1s;
}
.container1:nth-child(3) {
  animation-delay: 2s;
}
.container1:nth-child(4) {
  animation-delay: 3s;
}
.container1:nth-child(5) {
  animation-delay: 4s;
}
.container1:nth-child(6) {
  animation-delay: 5s;
}

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 13px;
}

.left-container {
  left: -3%;
}

.right-container {
  left: 50%;
}

.container1 .span {
  position: absolute;
  width: 23px;
  height: 22px;
  background-color: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  object-fit: contain;
  right: -27px;
  top: 40px;
  z-index: 10;
}
.right-container .span {
  left: -32px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -23px;
  z-index: 1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -14px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -14px;
}


@media screen and (max-width: 600px) {
  .qualification-content {
    display: none;
  }
  .qualification-content-mobile {
    display: block;
    background-color: white;
    width: 100%;
    height: fit-content;
  }

  .qualification-content-mobile .heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
  }
  .qualification-content-mobile .box-container1{
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 55px;
    object-fit: contain;
    margin-left: 40px;
    margin-right: 40px;
    }
    .qualification-content-mobile .box-container1 .box1{
        box-shadow: 0 10px 10px rgba(0,0,0,0.4);
        border-radius: 5px;
        background: #d6d5d5;
        text-align: center;
        padding: 30px 20px;
    }
    .box-container1 .box1 h3{
        font-size: 15px;
        padding: 10px 0;
        margin: 0 20px 0 20px;
        color: rgb(246, 54, 1);
        text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    }
    .box-container1 .box1 img{
        object-fit: contain;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

}
@media screen and (max-width: 1024px) {
  .qualification-content {
    display: none;
  }
  .qualification-content-mobile {
    display: block;
    background-color: white;
    width: 100%;
    height: fit-content;
  }

  .qualification-content-mobile .heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
  }
  .qualification-content-mobile .box-container1{
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 55px;
    object-fit: contain;
    margin-left: 40px;
    margin-right: 40px;
    }
    .qualification-content-mobile .box-container1 .box1{
        box-shadow: 0 10px 10px rgba(0,0,0,0.4);
        border-radius: 5px;
        background: #d6d5d5;
        text-align: center;
        padding: 30px 20px;
    }
    .box-container1 .box1 h3{
        font-size: 15px;
        padding: 10px 0;
        margin: 0 20px 0 20px;
        color: rgb(246, 54, 1);
        text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    }
    .box-container1 .box1 img{
        object-fit: contain;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}



