@media only screen and (max-width: 40em) {
  .about_component{
    width: fit-content;
    height: 100vh;
    background-color: white;
    padding: 60px;
}
.about_parent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.head h1{
  font-size: 30px;
}

.auto_type{
  color: #44ff85;
  font-size: 20px;
  text-shadow: 2px 1px 3px rgb(239, 22, 22);
}
.container{
  padding-top: 30px;
  text-align: center;
}
.about__description{
  font-size: 0.8rem;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

.about__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  font-size: 0.7rem;
}
.container h1{
  font-size: 20px;
}

.left-div{
  max-width: 100%;
  height: 40%;
}
.about__info-title,
.about__info-name{
  display: block;
  text-align: center;
}
.button{
  display: inline-block;
  background-color: #44ff85;
  color: #fff;
  padding: .7rem;
  border-radius: .5rem;
  font-weight: 500;
  font-size: 0.8rem;
  box-shadow: 4px 4px 4px black;
}
.button:hover{
  box-shadow: none;
}

.about__buttons{
  display: flex;
  justify-content: center;
}

.about__buttons a{
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.right-div{
  padding-top: 20px;
  max-width: 100%;
  height: 90%;
}
.right-div img{
  width: 200px;
  height: 170px
}
}

@media only screen and (min-width: 40em) {
  .about_component{
    padding-top: 20px;
    width: 100%;
    height: 90vh;
    background-color: white;
    padding: 60px;
}

.about_parent{
    display: flex;
    gap: 60px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auto_type{
    color: #44ff85;
    text-shadow: 2px 1px 3px rgb(239, 22, 22);
}

.left-div{
    max-width: 100%;
    height: 90%;
}
.right-div{
  padding-top: 50px;
  max-width: 100%;
  height: 90%;
}

  .container{
    padding-top: 50px;
    padding-bottom: 1rem;
    text-align: center;
  }
  .container h1{
    font-size: 20px;
  }
  
  .about__description{
    font-size: 0.8rem;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  
  .about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
    gap: 15px;
    font-size: 0.7rem;
  }
  
  .about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .about__info-name{
    font-size: var(--smaller-font-size);
  }
  
  .about__info-title,
  .about__info-name{
    display: block;
    text-align: center;
  }

  .button{
    display: inline-block;
    background-color: #44ff85;
    color: #fff;
    padding: .7rem;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 0.8rem;
    box-shadow: 4px 4px 4px black;
  }
  .button:hover{
    box-shadow: none;
  }
  
  .about__buttons{
    display: flex;
    justify-content: center;
  }
  
  .about__buttons a{
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
  }

  .right-div img{
    width: 250px; 
    height: 250px 
  }
}

@media only screen and (min-width: 48em) {
  .about_component{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 60px;
}

.about_parent{
    display: flex;
    gap: 60px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auto_type{
    color: #44ff85;
    text-shadow: 2px 1px 3px rgb(239, 22, 22);
}

.left-div{
    max-width: 100%;
    height: 90%;
}
.right-div{
  padding-top: 50px;
  max-width: 100%;
  height: 90%;
}

  .container{
    padding-top: 50px;
    padding-bottom: 1rem;
    text-align: center;
  }
  .container h1{
    font-size: 20px;
  }
  
  .about__description{
    font-size: 0.8rem;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  
  .about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
    gap: 15px;
    font-size: 0.7rem;
  }
  
  .about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .about__info-name{
    font-size: var(--smaller-font-size);
  }
  
  .about__info-title,
  .about__info-name{
    display: block;
    text-align: center;
  }

  .button{
    display: inline-block;
    background-color: #44ff85;
    color: #fff;
    padding: .7rem;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 0.8rem;
    box-shadow: 4px 4px 4px black;
  }
  .button:hover{
    box-shadow: none;
  }
  
  .about__buttons{
    display: flex;
    justify-content: center;
  }
  
  .about__buttons a{
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
  }

  .right-div img{
    width: 250px; 
    height: 250px 
  }
}

@media only screen and (min-width: 64em) {
  .about_component{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 60px;
}

.about_parent{
    display: flex;
    gap: 60px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auto_type{
    color: #44ff85;
    text-shadow: 2px 1px 3px rgb(239, 22, 22);
}

.left-div{
    max-width: 50%;
    height: 90%;
}
.right-div{
  padding-top: 50px;
  max-width: 50%;
  height: 90%;
}

  .container{
    padding-top: 50px;
    padding-bottom: 1rem;
    text-align: center;
  }
  .container h1{
    font-size: 30px;
  }
  
  .about__description{
    font-size: 1rem;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  
  .about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
    gap: 15px;
    font-size: 1rem;
  }
  
  .about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .about__info-name{
    font-size: var(--smaller-font-size);
  }
  
  .about__info-title,
  .about__info-name{
    display: block;
    text-align: center;
  }

  .button{
    display: inline-block;
    background-color: #44ff85;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 4px 4px 4px black;
  }
  .button:hover{
    box-shadow: none;
  }
  
  .about__buttons{
    display: flex;
    justify-content: center;
  }
  
  .about__buttons a{
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
  }

  .right-div img{
    width: 400px; 
    height: 400px 
  }
}

@media only screen and (min-width: 80em) {
  .about_component{
    padding-top: 20px;
    width: 100%;
    height: 90vh;
    background-color: white;
    padding: 60px;
}

.about_parent{
    display: flex;
    gap: 60px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auto_type{
    color: #44ff85;
    text-shadow: 2px 1px 3px rgb(239, 22, 22);
}

.left-div{
    max-width: 50%;
    height: 90%;
}
.right-div{
  padding-top: 50px;
  max-width: 50%;
  height: 90%;
}

  .container{
    padding-top: 50px;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .about__description{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  
  .about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
  }
  
  .about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .about__info-name{
    font-size: var(--smaller-font-size);
  }
  
  .about__info-title,
  .about__info-name{
    display: block;
    text-align: center;
  }

  .button{
    display: inline-block;
    background-color: #44ff85;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 500;
    box-shadow: 4px 4px 4px black;
  }
  .button:hover{
    box-shadow: none;
  }
  
  .about__buttons{
    display: flex;
    justify-content: center;
  }

  .about__buttons a{
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
  }

  .right-div img{
    width: 500px; 
    height: 400px 
  }
}