.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-left: auto;
}

body{
  background-color: rgba(0, 0, 0, 0.525);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
